<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Empresa.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All"><span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/movimientos"><span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Movimientos</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/clientes"><span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Clientes</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/equipos"><span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Equipos</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/operarios"><span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Operarios</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/estados"><span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Estados</NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
